.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.header-date {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.header-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}