/* Modo Claro (Default) */
:root {
    --custom-primary-color: #7a5fff; /* Lila más fuerte para destacar */
    --custom-secondary-color: #f0f0f0; /* Gris muy claro para bloques secundarios */
    --custom-background-color: #ffffff; /* Fondo blanco */
    --custom-accent-color: #a88bff; /* Lila pastel como acento */
    --custom-text-color: #1a1a1a; /* Texto oscuro */
    --custom-button-hover-color: #cdbdff; /* Lila claro al hacer hover */
    --custom-button-background-color: #ebe4ff; /* Fondo de botón suave */
    --custom-button-text-color: #1a1a1a; /* Texto oscuro en botón */
    --custom-button-text-color-hover: #000000; /* Negro en hover */    
    --padding-s: 0.5rem;
    --padding-m: 1rem;
    --padding-l: 1.5rem;
}

/* Modo Oscuro */
.dark {
    --custom-primary-color: #c9b6ff; /* Rojo (Cereza) */
    --custom-secondary-color: #1d1d1d; /* Verde (Fresco) */
    --custom-background-color: #0d0d0d; /* Fondo oscuro */
    --custom-accent-color: #c9b6ff; /* Amarillo (Dorado) */
    --custom-text-color: #bfbfbf; /* Blanco para texto */
    --custom-button-hover-color: #87CEEB; /* Azul Claro */
    --custom-button-background-color: #d9c3ff; /* Azul Oscuro */
    --custom-button-text-color: #1a1a1a; /* Blanco para texto de botón */
    --custom-button-text-color-hover: #000000; /* Negro para texto de botón en hover */
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top left, var(--custom-primary-color) 0%, var(--custom-background-color) 40%, var(--custom-secondary-color) 100%);
    color: var(--custom-text-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    color: var(--custom-text-color); 
}

.p-button {
    border-radius: 30px;
    border: 1px solid var(--custom-button-background-color);
}

.p-inputtext:focus,
.p-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.selected {
    transition: all 0.5s ease-in-out;
    border: 2px solid var(--custom-button-background-color) !important;
    box-shadow: none !important;
}