.about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 600px;
    padding: 2rem;
    margin: 2rem auto;
}

.about-me-accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-me-accordion-item {
    background-color: var(--custom-secondary-color);
    border: 2px solid var(--custom-accent-color);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

.about-me-accordion-item.active {
    background-color: var(--custom-button-hover-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-me-accordion-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    color: var(--custom-text-color);
    text-transform: uppercase;
    border-bottom: 1px solid var(--custom-accent-color);
}

.about-me-accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.6;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.about-me-accordion-item.active .about-me-accordion-content {
    max-height: 200px;
    padding: 1rem;
}